<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                        Our Team    
                </li>
                <li>      
                        About Us      
                </li>
                <li>      
                        Blog       
                </li>
                <li>      
                        Licenses          
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{<footer class="component ts"></footer>test | date: 'yyyy'}}, made with love by Team FinanceX.
        </div>
    </div>
</footer>
