<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Transactions</h4>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Date
                                  </th>
                                  <th>
                                      Remarks
                                  </th>
                                  <th>
                                      Balance
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Mehul Jhaver
                                      </td>
                                      <td>
                                        9th Jan 2022
                                      </td>
                                      <td>
                                          Food
                                      </td>
                                      <td class="text-primary">
                                          -$10.55
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Tushar Ranjan
                                      </td>
                                      <td>
                                          13th Feb 2022
                                      </td>
                                      <td>
                                          Grocery
                                      </td>
                                      <td class="text-primary">
                                          +$50.45
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Sankalp Pandey
                                      </td>
                                      <td>
                                          17th Feb 2022
                                      </td>
                                      <td>
                                          Cab
                                      </td>
                                      <td class="text-primary">
                                          -$23.33
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          Ayush Awasthi
                                      </td>
                                      <td>
                                          4th March 2022
                                      </td>
                                      <td>
                                          Stationary
                                      </td>
                                      <td class="text-primary">
                                          +$13.22
                                      </td>
                                  </tr>
                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <div class="card-footer">
                    <button mat-raised-button class="btn btn-danger pull-right">
                        <a href="#" onmouseover="javascript:event.target.port=8080">Add Transaction</a>
                    </button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
